* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Sans-serif;
}

nav {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed; /* Menggunakan position: fixed agar navbar tetap berada di atas halaman saat di-scroll */
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: #FFF8E8;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #f2c14e;
}

.dropdown {
  position: absolute;
  background-color: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 10rem;
  transition: all 0.3s ease;
  margin-top: 0.5rem;
  display: none;
}

.menu li:hover > .dropdown,
.menu li:focus-within > .dropdown,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown li {
  clear: both;
  width: 100%;
  padding: 10px;
}

.email{
  color:#FFF8E8;
}

.logout {
  margin-left: auto;
}

.buttonlogout {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.buttonlogout:hover,
.buttonlogout:focus {
  background-color: #555555;
  color: white;
}

.button5 a {
  color: black;
  transition-duration: 0.4s;
}

.button5 a:hover {
  background-color: #555555;
  color: white;
}